## 행정구역 정보를 읽고 분석하기

In [2]:
import pandas as pd

data = pd.read_csv('data/data_draw_korea.csv')
data.sample()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [3]:
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [5]:
print(f"인구수 최댓값: {data['인구수'].max()}")
print(f"인구수 최솟값: {data['인구수'].min()}")
print(f"인구수 평균값: {data['인구수'].mean()}")
print(f"인구수 표준편차값: {data['인구수'].std()}")

인구수 최댓값: 1125461
인구수 최솟값: 8392
인구수 평균값: 211089.77729257641
인구수 표준편차값: 207437.8370475227

In [7]:
# 중복값 제거한 광역시도 출력
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [10]:
# 광역시도 값 counting
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [26]:
# 서울특별시에 속한 구에 대한 정보 선택
def si_to_do(si):
    return data.loc[data['광역시도'] == si].reset_index(drop=True).sort_values(by='인구수', ascending=False)

In [27]:
sel = input("검색하고 싶은 시 또는 도를 입력: ")
si_to_do(sel)

    Unnamed: 0      인구수 shortName  x  y       면적 광역시도  행정구역
12          30  1125461        수원  6  9  121.090  경기도   수원시
1           19   955384        고양  4  2  267.330  경기도   고양시
22          40   915005        용인  7  9  591.500  경기도   용인시
11          29   911628        성남  7  8  141.820  경기도   성남시
10          28   805473        부천  2  4   53.440  경기도   부천시
14          32   668089        안산  3  6  144.780  경기도   안산시
8           26   610300       남양주  8  3  458.440  경기도  남양주시
16          34   566558        안양  3  4   58.520  경기도   안양시
30          48   555129        화성  3  7  688.100  경기도   화성시
27          45   423763        평택  5  9  452.310  경기도   평택시
24          42   408220       의정부  7  3   81.590  경기도  의정부시
26          44   385528        파주  3  2  672.560  경기도   파주시
13          31   381412        시흥  3  5  134.400  경기도   시흥시
3           21   327111        광명  3  3   38.500  경기도   광명시
7           25   326523        김포  2  3  276.640  경기도   김포시
4           22   290210        광주  8  7  431.840  경기도   광주시
6           24   273302        군포  5  8   36.350  경기도   군포시
21          39   200793        오산  3  8   42.740  경기도   오산시
17          35   191266        양주  8  2  310.310  경기도   양주시
25          43   190537        이천  8  8  461.020  경기도   이천시
5           23   175676        구리  9  4   33.300  경기도   구리시
15          33   173061        안성  4  8  554.200  경기도   안성시
29          47   150061        하남  9  5   93.100  경기도   하남시
23          41   149080        의왕  6  8   54.000  경기도   의왕시
28          46   140159        포천  8  1  826.380  경기도   포천시
19          37   100669        여주  9  7  608.640  경기도   여주시
18          36    95614        양평  9  6  877.080  경기도   양평군
9           27    90398       동두천  7  2   95.680  경기도  동두천시
2           20    63227        과천  7  7   35.813  경기도   과천시
0           18    53497        가평  9  3  843.040  경기도   가평군
20          38    41076        연천  7  1  695.230  경기도   연천군

In [22]:
# 서울특별시에 속한 구의 인구수 평균 및 표준편차
print(f"인구수 평균: {data.loc[data['광역시도'] == '서울특별시', '인구수'].mean()}")
print(f"인구수 표준편차: {data.loc[data['광역시도'] == '서울특별시', '인구수'].std()}")

인구수 평균: 375792.28
인구수 표준편차: 125231.24797500289

In [36]:
# 입력 받은 시, 도에 속한 구의 인구수 평균 및 표준편차
# '표준편차가 크다'는 것이 어떤 의미를 가지는지 생각해볼것
def popularity(si):
    print(f'광역시도: {si}')
    print(f"인구수 평균: {data.loc[data['광역시도'] == si, '인구수'].mean()}")
    print(f"인구수 표준편차: {data.loc[data['광역시도'] == si, '인구수'].std()}")

In [37]:
sel = input("검색하고 싶은 시 또는 도를 입력: ")
popularity(sel)

인구수 평균: 378845.48387096776
인구수 표준편차: 304548.39514203876

In [3]:
# 경북에 속한 행정구역, 인구수, 면적을 출력하고 인구가 많은 순으로 정렬 후, index를 순서대로 출력
data.loc[data['광역시도'] == '경상북도', ['행정구역', '인구수', '면적']].sort_values(by='인구수', ascending=False).reset_index(drop=True)

# sort_values에서 여러 컬럼을 받아서 정렬하고 싶을 때 by=['col1', 'col2', ...] 형태로 작성하면 된다

   행정구역     인구수       면적
0   포항시  488395  1127.00
1   구미시  396685   616.10
2   경산시  251220   411.58
3   경주시  242618  1323.85
4   안동시  157317  1519.00
5   김천시  127941  1009.56
6   칠곡군  112446   451.00
7   영주시  101612   668.45
8   상주시   93305  1254.82
9   영천시   91214   919.76
10  문경시   67919   912.00
11  의성군   48776  1175.89
12  울진군   46748   989.06
13  예천군   40779   660.70
14  청도군   38571   696.52
15  성주군   38277   616.28
16  영덕군   34864   741.05
17  고령군   31189   383.70
18  봉화군   30287  1201.00
19  청송군   23804   842.45
20  군위군   20596   614.15
21  영양군   16009   815.11
22  울릉군    8392    72.82

In [5]:
# iloc 사용
# ex) 인덱스 20~25의 행, '인구수' ~ '광역시도'의 열
# data.loc[20:25, '인구수':'광역시도'] # 마지막 값이 포함됨, 컬럼명을 씀
data.iloc[20:25, 1:4]   # 마지막 값이 포함되지 않음, 컬럼의 인덱스 값을 씀

       인구수 shortName  x
20   63227        과천  7
21  327111        광명  3
22  290210        광주  8
23  175676        구리  9
24  273302        군포  5

In [17]:
# 인구수가 전국평균 인구수 보다 작은 지역을 선택하고, 결과를 엑셀 파일로 저장
pop_mean_val = data['인구수'].mean()
# round(pop_mean_val) # Same function as pop_mean_val:.2f
pop_mean_lt_df = data.loc[data['인구수'] < pop_mean_val, ['광역시도', '행정구역', '면적', '인구수' ]].sort_values(by='인구수').reset_index(drop=True)
pop_mean_lt_df.to_excel('data/평균인구수미달지역.xlsx')

In [20]:
#컬럼명 변경
data = data.rename(columns={'Unnamed: 0':'seq'})
data.head()

   seq     인구수 shortName   x  y       면적 광역시도 행정구역
0    0  202520        강릉  11  4  1040.07  강원도  강릉시
1    1   25589    고성(강원)   9  0   664.19  강원도  고성군
2    2   86747        동해  11  5   180.01  강원도  동해시
3    3   63986        삼척  11  8  1185.80  강원도  삼척시
4    4   76733        속초   9  1   105.25  강원도  속초시

In [21]:
data = data.set_index('seq')
data.head()

        인구수 shortName   x  y       면적 광역시도 행정구역
seq
0    202520        강릉  11  4  1040.07  강원도  강릉시
1     25589    고성(강원)   9  0   664.19  강원도  고성군
2     86747        동해  11  5   180.01  강원도  동해시
3     63986        삼척  11  8  1185.80  강원도  삼척시
4     76733        속초   9  1   105.25  강원도  속초시

In [23]:
# 광역시도별 인구수가 가장 많은 행정구역 선택

# 1. Sample로 경기도에서 가장 인구수가 많은 행정구역을 확인
data.loc[data['광역시도'] == '경기도', ['행정구역', '인구수']].sort_values(by='인구수', ascending=False)

     행정구역      인구수
seq
30    수원시  1125461
19    고양시   955384
40    용인시   915005
29    성남시   911628
28    부천시   805473
32    안산시   668089
26   남양주시   610300
34    안양시   566558
48    화성시   555129
45    평택시   423763
42   의정부시   408220
44    파주시   385528
31    시흥시   381412
21    광명시   327111
25    김포시   326523
22    광주시   290210
24    군포시   273302
39    오산시   200793
35    양주시   191266
43    이천시   190537
23    구리시   175676
33    안성시   173061
47    하남시   150061
41    의왕시   149080
46    포천시   140159
37    여주시   100669
36    양평군    95614
27   동두천시    90398
20    과천시    63227
18    가평군    53497
38    연천군    41076

In [24]:
# 2. 확인한 값을 토대로 인구수 최댓값을 찾는 변수를 선언  ->  수원시,1125461
pop_max_val = data.loc[data['광역시도'] == '경기도', '인구수'].max()
pop_max_val

1125461

In [26]:
# 3. 두 가지 조건(광역시도 매칭, 최댓값 매칭)이 맞아야 의도한대로 결과가 도출되므로 &를 사용하여 조건문을 완성
# data.loc[(...) & (...)]
data.loc[(data['광역시도'] == '경기도') & (data['인구수'] == pop_max_val)]

         인구수 shortName  x  y      면적 광역시도 행정구역
seq
30   1125461        수원  6  9  121.09  경기도  수원시

In [52]:
# 4. 함수화
def get_pop_max(sido):
    max_val = data.loc[data['광역시도'] == sido, '인구수'].max()
    return data.loc[(data['광역시도'] == sido) & (data['인구수'] == max_val), ['광역시도','행정구역','인구수']]

In [53]:
# txt = input('검색하고 싶은 광역시도를 입력: ')
get_pop_max('충청북도')

     광역시도 행정구역     인구수
seq
227  충청북도  청주시  790216

In [56]:
# 5. 광역시도별로 값을 출력해야하므로 for 문을 가동
for sido_name in data['광역시도'].unique():
    # print(type(get_pop_max(sido_name)))
    print(get_pop_max(sido_name))

<class 'pandas.core.frame.DataFrame'>
    광역시도 행정구역     인구수
seq
8    강원도  원주시  313851
<class 'pandas.core.frame.DataFrame'>
    광역시도 행정구역      인구수
seq
30   경기도  수원시  1125461
<class 'pandas.core.frame.DataFrame'>
     광역시도 행정구역      인구수
seq
61   경상남도  창원시  1010040
<class 'pandas.core.frame.DataFrame'>
     광역시도 행정구역     인구수
seq
89   경상북도  포항시  488395
<class 'pandas.core.frame.DataFrame'>
      광역시도 행정구역     인구수
seq
93   광주광역시   북구  439683
<class 'pandas.core.frame.DataFrame'>
      광역시도 행정구역     인구수
seq
96   대구광역시  달서구  584517
<class 'pandas.core.frame.DataFrame'>
      광역시도 행정구역     인구수
seq
105  대전광역시   서구  475094
<class 'pandas.core.frame.DataFrame'>
      광역시도  행정구역     인구수
seq
123  부산광역시  해운대구  397134
<class 'pandas.core.frame.DataFrame'>
      광역시도 행정구역     인구수
seq
141  서울특별시  송파구  615487
<class 'pandas.core.frame.DataFrame'>
        광역시도 행정구역     인구수
seq
149  세종특별자치시  세종시  191233
<class 'pandas.core.frame.DataFrame'>
      광역시도 행정구역     인구수
seq
150  울산광역시   남구  327270
<class 'pandas.core.frame.DataFrame'>
      광역시도 행정구역     인구수
seq
160  인천광역시  부평구  527153
<class 'pandas.core.frame.DataFrame'>
     광역시도 행정구역     인구수
seq
177  전라남도  여수시  263166
<class 'pandas.core.frame.DataFrame'>
     광역시도 행정구역     인구수
seq
198  전라북도  전주시  630708
<class 'pandas.core.frame.DataFrame'>
        광역시도 행정구역     인구수
seq
202  제주특별자치도  제주시  430504
<class 'pandas.core.frame.DataFrame'>
     광역시도 행정구역     인구수
seq
214  충청남도  천안시  584912
<class 'pandas.core.frame.DataFrame'>
     광역시도 행정구역     인구수
seq
227  충청북도  청주시  790216

In [62]:
pop_max_df = pd.DataFrame(columns=['광역시도', '행정구역', '인구수'])
for sido_name in data['광역시도'].unique():
    pop_max_df = pop_max_df.append(get_pop_max(sido_name))

pop_max_df = pop_max_df.sort_values(by='인구수', ascending=False).reset_index(drop=True)
pop_max_df

       광역시도  행정구역      인구수
0       경기도   수원시  1125461
1      경상남도   창원시  1010040
2      충청북도   청주시   790216
3      전라북도   전주시   630708
4     서울특별시   송파구   615487
5      충청남도   천안시   584912
6     대구광역시   달서구   584517
7     인천광역시   부평구   527153
8      경상북도   포항시   488395
9     대전광역시    서구   475094
10    광주광역시    북구   439683
11  제주특별자치도   제주시   430504
12    부산광역시  해운대구   397134
13    울산광역시    남구   327270
14      강원도   원주시   313851
15     전라남도   여수시   263166
16  세종특별자치시   세종시   191233

In [64]:
print(len(pop_max_df))
pop_max_df.index

17

RangeIndex(start=0, stop=17, step=1)

In [65]:
import numpy as np

print(np.arange(1, 10+1))
pop_max_df.index = np.arange(1, len(pop_max_df)+1)

[ 1  2  3  4  5  6  7  8  9 10]

In [66]:
print(pop_max_df.index)
pop_max_df

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='int64')

       광역시도  행정구역      인구수
1       경기도   수원시  1125461
2      경상남도   창원시  1010040
3      충청북도   청주시   790216
4      전라북도   전주시   630708
5     서울특별시   송파구   615487
6      충청남도   천안시   584912
7     대구광역시   달서구   584517
8     인천광역시   부평구   527153
9      경상북도   포항시   488395
10    대전광역시    서구   475094
11    광주광역시    북구   439683
12  제주특별자치도   제주시   430504
13    부산광역시  해운대구   397134
14    울산광역시    남구   327270
15      강원도   원주시   313851
16     전라남도   여수시   263166
17  세종특별자치시   세종시   191233

In [67]:
data['면적'].corr(data['인구수'])

-0.3460351605045768

### Problem -> 광역시도별 인구수가 가장 많고, 면적이 가장 넓은 행정구역 선택
* unique(), value_counts(), max() 함수 사용
* 사용자 정의 함수 선언
* 출력된 데이터 프레임의 인덱스를 1~17로 변경

### problem -> 인구수와 면적간 상관계수 구하기
* 상관계수를 구하고 그 값을 표 형식으로 깔끔하게 출력

In [69]:
# 서울특별시 면적과 인구수 상관관계
seoul_area = data.loc[data['광역시도'] == '서울특별시', '면적']
seoul_pop = data.loc[data['광역시도'] == '서울특별시', '인구수']
seoul_area.corr(seoul_pop)

0.6644268188909778

In [72]:
# Series 객체를 사용 - 광역시도별 인구수 합계 계산
# SeriesGroupby Object
data['인구수'].groupby(data['광역시도']).sum().sort_values(ascending=False)
# Series 에서 쓰이는 sort_values 에는 by 옵션을 써주지 않아도 됨 - 컬럼이 하나밖에 없음

광역시도
경기도        11744210
서울특별시       9394807
부산광역시       3323591
경상남도        3144487
인천광역시       2766575
경상북도        2508964
대구광역시       2378450
충청남도        1946129
전라북도        1739048
전라남도        1700563
충청북도        1484720
대전광역시       1467677
광주광역시       1438209
강원도         1429438
울산광역시       1105585
제주특별자치도      575873
세종특별자치시      191233
Name: 인구수, dtype: int64

In [77]:
# DataFrame 객체 사용 = 광역시도별 인구수 합계
data.groupby('광역시도').sum()

              인구수    x    y         면적
광역시도
강원도       1429438  173   68  16874.810
경기도      11744210  182  162  10179.743
경상남도      3144487  123  313  10437.460
경상북도      2508964  229  240  19021.850
광주광역시     1438209   12   99    501.280
대구광역시     2378450   74  111    885.690
대전광역시     1467677   23   66    539.640
부산광역시     3323591  162  276    763.240
서울특별시     9394807  142  111    605.390
세종특별자치시    191233    4   11    465.230
울산광역시     1105585   58   71    980.220
인천광역시     2766575   13   61   1022.910
전라남도      1700563   44  438  12008.390
전라북도      1739048   46  219   7907.220
제주특별자치도    575873    8   49   1848.480
충청남도      1946129   39  160   8272.270
충청북도      1484720   69  124   7397.310

In [78]:
# DataFrameGroupby Object
data.groupby('광역시도')['인구수'].sum()

광역시도
강원도         1429438
경기도        11744210
경상남도        3144487
경상북도        2508964
광주광역시       1438209
대구광역시       2378450
대전광역시       1467677
부산광역시       3323591
서울특별시       9394807
세종특별자치시      191233
울산광역시       1105585
인천광역시       2766575
전라남도        1700563
전라북도        1739048
제주특별자치도      575873
충청남도        1946129
충청북도        1484720
Name: 인구수, dtype: int64

In [82]:
groupby_df = data.groupby(['광역시도', '행정구역'])['인구수'].sum()
groupby_df.to_excel('data/광역시도별행정구역인구수합계.xlsx', sheet_name='인구수')

## 엑셀 수치 데이터에 comma ( , ) 찍기

In [83]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('data/광역시도별인구수의합계1.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
groupby_df.to_excel(writer, sheet_name='인구수합계')

# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['인구수합계']

# Set a currency number format for a column.
num_format = workbook.add_format({'num_format': '#,###'})
worksheet.set_column('C:C', None, num_format)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

## 광역시도별 인구수 max, mean, std 를 한 번에 조회
* DataFrame agg() 함수 사용

In [102]:
groupby_agg_df = data.groupby('광역시도')['인구수'].agg(['max','mean','std']).fillna(0).sort_values(by='std', ascending=False)
groupby_agg_df

             max           mean            std
광역시도
경기도      1125461  378845.483871  304548.395142
경상남도     1010040  174693.722222  245796.465077
충청북도      790216  134974.545455  223460.356657
제주특별자치도   430504  287936.500000  201620.892054
인천광역시     527153  276657.500000  199353.596491
대구광역시     584517  297306.250000  174375.394380
전라북도      630708  124217.714286  168327.134821
충청남도      584912  129741.933333  141125.108080
광주광역시     439683  287641.800000  137076.683206
서울특별시     615487  375792.280000  125231.247975
경상북도      488395  109085.391304  124954.740885
대전광역시     475094  293535.400000  111853.571882
부산광역시     397134  207724.437500  106246.041384
강원도       313851   79413.222222   87316.383238
전라남도      263166   77298.318182   74413.253230
울산광역시     327270  221117.000000   64163.286582
세종특별자치시   191233  191233.000000       0.000000

In [106]:
groupby_agg_df.reset_index()    # same as groupby_agg_df.reset_index(level='광역시도')

       광역시도      max           mean            std
0       경기도  1125461  378845.483871  304548.395142
1      경상남도  1010040  174693.722222  245796.465077
2      충청북도   790216  134974.545455  223460.356657
3   제주특별자치도   430504  287936.500000  201620.892054
4     인천광역시   527153  276657.500000  199353.596491
5     대구광역시   584517  297306.250000  174375.394380
6      전라북도   630708  124217.714286  168327.134821
7      충청남도   584912  129741.933333  141125.108080
8     광주광역시   439683  287641.800000  137076.683206
9     서울특별시   615487  375792.280000  125231.247975
10     경상북도   488395  109085.391304  124954.740885
11    대전광역시   475094  293535.400000  111853.571882
12    부산광역시   397134  207724.437500  106246.041384
13      강원도   313851   79413.222222   87316.383238
14     전라남도   263166   77298.318182   74413.253230
15    울산광역시   327270  221117.000000   64163.286582
16  세종특별자치시   191233  191233.000000       0.000000

In [107]:
# reset_index 에서 inplace=False 를 주면 변경된 사항을 화면에만 출력하고 원본에 영향 주지 않는다
# 반대로 inplace=True를 주면 변경된 사항을 원본에도 적용한다 - 일일이 변수 선언을 통해 적용해줄 필요 없음
groupby_agg_df.reset_index(level='광역시도', inplace=False)

       광역시도      max           mean            std
0       경기도  1125461  378845.483871  304548.395142
1      경상남도  1010040  174693.722222  245796.465077
2      충청북도   790216  134974.545455  223460.356657
3   제주특별자치도   430504  287936.500000  201620.892054
4     인천광역시   527153  276657.500000  199353.596491
5     대구광역시   584517  297306.250000  174375.394380
6      전라북도   630708  124217.714286  168327.134821
7      충청남도   584912  129741.933333  141125.108080
8     광주광역시   439683  287641.800000  137076.683206
9     서울특별시   615487  375792.280000  125231.247975
10     경상북도   488395  109085.391304  124954.740885
11    대전광역시   475094  293535.400000  111853.571882
12    부산광역시   397134  207724.437500  106246.041384
13      강원도   313851   79413.222222   87316.383238
14     전라남도   263166   77298.318182   74413.253230
15    울산광역시   327270  221117.000000   64163.286582
16  세종특별자치시   191233  191233.000000       0.000000

In [109]:
groupby_agg_df.transpose()

광역시도,경기도,경상남도,충청북도,제주특별자치도,인천광역시,대구광역시,전라북도,충청남도,광주광역시,서울특별시,경상북도,대전광역시,부산광역시,강원도,전라남도,울산광역시,세종특별자치시
max,1.125461e+06,1.010040e+06,790216.000000,430504.000000,527153.000000,584517.00000,630708.000000,584912.000000,439683.000000,615487.000000,488395.000000,475094.000000,397134.000000,313851.000000,263166.000000,327270.000000,191233.0
mean,3.788455e+05,1.746937e+05,134974.545455,287936.500000,276657.500000,297306.25000,124217.714286,129741.933333,287641.800000,375792.280000,109085.391304,293535.400000,207724.437500,79413.222222,77298.318182,221117.000000,191233.0
std,3.045484e+05,2.457965e+05,223460.356657,201620.892054,199353.596491,174375.39438,168327.134821,141125.108080,137076.683206,125231.247975,124954.740885,111853.571882,106246.041384,87316.383238,74413.253230,64163.286582,0.0

#### 시각화
* plot이 출력되려면 원칙적으로 show()를 호출해야 하지만, jupyter 한정으로 show()를 호출하지 않아도 됨
* %matplotlib inline 설정을 해야함
* 한글 폰트 설정이 필요함
* plot에 대한 설정은 matplotlib 함수를 사용, plot을 그리는 설정은 seaborn 함수를 사용

In [111]:
%matplotlib inline

In [114]:
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

import seaborn as sns

print('matplotlib ', matplotlib.__version__)
print('seaborn ', sns.__version__)

matplotlib  3.4.3
seaborn  0.11.2

In [116]:
# 폰트 이름과 파일 정보 출력 - List Comprehension Ver.
[(font.name, font.fname)for font in fm.fontManager.ttflist if 'Ma' in font.name]

[('Magic R', 'C:\\Windows\\Fonts\\HMKMMAG.TTF'),
 ('Maiandra GD', 'C:\\WINDOWS\\Fonts\\MAIAN.TTF'),
 ('Malgun Gothic', 'C:\\Windows\\Fonts\\malgunsl.ttf'),
 ('Magneto', 'C:\\Windows\\Fonts\\MAGNETOB.TTF'),
 ('Malgun Gothic', 'C:\\WINDOWS\\Fonts\\malgunbd.ttf'),
 ('Malgun Gothic', 'C:\\WINDOWS\\Fonts\\malgun.ttf'),
 ('Malgun Gothic', 'C:\\WINDOWS\\Fonts\\malgunsl.ttf'),
 ('Malgun Gothic', 'C:\\Windows\\Fonts\\malgunbd.ttf'),
 ('Matura MT Script Capitals', 'C:\\WINDOWS\\Fonts\\MATURASC.TTF'),
 ('Maiandra GD', 'C:\\Windows\\Fonts\\MAIAN.TTF'),
 ('Magic R', 'C:\\WINDOWS\\Fonts\\HMKMMAG.TTF'),
 ('Magneto', 'C:\\WINDOWS\\Fonts\\MAGNETOB.TTF'),
 ('Marlett', 'C:\\WINDOWS\\Fonts\\marlett.ttf'),
 ('Malgun Gothic', 'C:\\Windows\\Fonts\\malgun.ttf'),
 ('Matura MT Script Capitals', 'C:\\Windows\\Fonts\\MATURASC.TTF')]