## 행정구역 정보를 읽고 분석하기

In [1]:
import pandas as pd

data = pd.read_csv('data/data_draw_korea.csv')
data.sample()

     Unnamed: 0    인구수 shortName  x   y      면적  광역시도 행정구역
223         223  86441        음성  5  10  521.05  충청북도  음성군

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [3]:
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [5]:
print(f"인구수 최댓값: {data['인구수'].max()}")
print(f"인구수 최솟값: {data['인구수'].min()}")
print(f"인구수 평균값: {data['인구수'].mean()}")
print(f"인구수 표준편차값: {data['인구수'].std()}")

인구수 최댓값: 1125461
인구수 최솟값: 8392
인구수 평균값: 211089.77729257641
인구수 표준편차값: 207437.8370475227

In [7]:
# 중복값 제거한 광역시도 출력
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [10]:
# 광역시도 값 counting
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [26]:
# 서울특별시에 속한 구에 대한 정보 선택
def si_to_do(si):
    return data.loc[data['광역시도'] == si].reset_index(drop=True).sort_values(by='인구수', ascending=False)

In [27]:
sel = input("검색하고 싶은 시 또는 도를 입력: ")
si_to_do(sel)

    Unnamed: 0      인구수 shortName  x  y       면적 광역시도  행정구역
12          30  1125461        수원  6  9  121.090  경기도   수원시
1           19   955384        고양  4  2  267.330  경기도   고양시
22          40   915005        용인  7  9  591.500  경기도   용인시
11          29   911628        성남  7  8  141.820  경기도   성남시
10          28   805473        부천  2  4   53.440  경기도   부천시
14          32   668089        안산  3  6  144.780  경기도   안산시
8           26   610300       남양주  8  3  458.440  경기도  남양주시
16          34   566558        안양  3  4   58.520  경기도   안양시
30          48   555129        화성  3  7  688.100  경기도   화성시
27          45   423763        평택  5  9  452.310  경기도   평택시
24          42   408220       의정부  7  3   81.590  경기도  의정부시
26          44   385528        파주  3  2  672.560  경기도   파주시
13          31   381412        시흥  3  5  134.400  경기도   시흥시
3           21   327111        광명  3  3   38.500  경기도   광명시
7           25   326523        김포  2  3  276.640  경기도   김포시
4           22   290210        광주  8  7  431.840  경기도   광주시
6           24   273302        군포  5  8   36.350  경기도   군포시
21          39   200793        오산  3  8   42.740  경기도   오산시
17          35   191266        양주  8  2  310.310  경기도   양주시
25          43   190537        이천  8  8  461.020  경기도   이천시
5           23   175676        구리  9  4   33.300  경기도   구리시
15          33   173061        안성  4  8  554.200  경기도   안성시
29          47   150061        하남  9  5   93.100  경기도   하남시
23          41   149080        의왕  6  8   54.000  경기도   의왕시
28          46   140159        포천  8  1  826.380  경기도   포천시
19          37   100669        여주  9  7  608.640  경기도   여주시
18          36    95614        양평  9  6  877.080  경기도   양평군
9           27    90398       동두천  7  2   95.680  경기도  동두천시
2           20    63227        과천  7  7   35.813  경기도   과천시
0           18    53497        가평  9  3  843.040  경기도   가평군
20          38    41076        연천  7  1  695.230  경기도   연천군

In [22]:
# 서울특별시에 속한 구의 인구수 평균 및 표준편차
print(f"인구수 평균: {data.loc[data['광역시도'] == '서울특별시', '인구수'].mean()}")
print(f"인구수 표준편차: {data.loc[data['광역시도'] == '서울특별시', '인구수'].std()}")

인구수 평균: 375792.28
인구수 표준편차: 125231.24797500289

In [36]:
# 입력 받은 시, 도에 속한 구의 인구수 평균 및 표준편차
# '표준편차가 크다'는 것이 어떤 의미를 가지는지 생각해볼것
def popularity(si):
    print(f"인구수 평균: {data.loc[data['광역시도'] == si, '인구수'].mean()}")
    print(f"인구수 표준편차: {data.loc[data['광역시도'] == si, '인구수'].std()}")

In [37]:
sel = input("검색하고 싶은 시 또는 도를 입력: ")
popularity(sel)

인구수 평균: 378845.48387096776
인구수 표준편차: 304548.39514203876